.memory__wrap {
  display: none;
}
.memory__inner {
  width: 500px;
  height: 530px;
  background: black;
  position: absolute;
  left: 300px;
  top: 100px;
  border-radius: 20px;
  animation: flicker 1.5s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}
.memory-close {
  position: absolute;
  top: 30px;
  right: 30px;
  background: url(../img/effect_icon08.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: 24px;
}
.memory__main {
  justify-content: center;
  align-items: center;
}
.memory__main h3 {
  font-size: 56px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}
.memory__main .memory__start {
  font-size: 48px;
  text-align: center;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  height: 60px;
  line-height: 60px;
}
.memory__card {
  padding: 30px;
  display: none;
}
.memory__card__info {
  display: flex;
  justify-content: center;
}
.memory__card h3 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
.memory__card p {
  color: white;
  margin-bottom: 10px;
}
.memory__card p:nth-child(1){
  margin-right: 20px;
}
.memory__card .cards {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
.memory__card .cards li {
  list-style: none;
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
}
.memory__card .cards li img {
  width: 100%;
}
.memory__card .cards li .back img {
  padding: 20px;
}
.memory__card .cards li .view {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  /* 뒷면 안보여주깅 */
  backface-visibility: hidden;
  border-radius: 20px;
  padding: 10%;
  transition: all 0.5s;
  /* user-select: none; */
  pointer-events: none;
}
.memory__card .cards li .front {
  transform: rotateY(0deg);
}
.memory__card .cards li .back {
  transform: rotateY(-180deg);
}
.memory__card .cards li.flip .front {
  transform: rotateY(180deg);
}
.memory__card .cards li.flip .back {
  transform: rotateY(0deg);
}
.memory__card .cards li.shakeX {
  animation: shakeX 1s 1;
}
.memory__card .cards li.shakeY {
  animation: shakeY 1s 1;
}

.memoryGameRestart {
  background-color: black;
  color: white;
  transition: all 0.3s;
  transform: scale(0);
  position: absolute;
  width: 180px;
  height: 60px;
  animation: flicker 1.5s infinite alternate;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;

}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem black,
      inset 0 0 2rem black, 0 0 2rem black, inset 0 0 2rem black;
  }
}
@keyframes shakeX {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shakeY {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(0, -10px, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(0, 10px, 0);
  }
}
