* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #f6f6f6;
    background-image: linear-gradient(
            90deg,
            #cdcccc 0px,
            #cdcccc 1px,
            transparent 1px,
            transparent 99px,
            transparent 100px
        ),
        linear-gradient(
            #cdcccc 0px,
            #cdcccc 1px,
            transparent 1px,
            transparent 99px,
            transparent 100px
        ),
        linear-gradient(
            #e0e0e0 0px,
            #e0e0e0 1px,
            transparent 1px,
            transparent 99px,
            transparent 100px
        ),
        linear-gradient(
            90deg,
            #e0e0e0 0px,
            #e0e0e0 1px,
            transparent 1px,
            transparent 99px,
            transparent 100px
        ),
        linear-gradient(
            transparent 0px,
            transparent 5px,
            #f6f6f6 5px,
            #f6f6f6 95px,
            transparent 95px,
            transparent 100px
        ),
        linear-gradient(
            90deg,
            #e0e0e0 0px,
            #e0e0e0 1px,
            transparent 1px,
            transparent 99px,
            #e0e0e0 99px,
            #e0e0e0 100px
        ),
        linear-gradient(
            90deg,
            transparent 0px,
            transparent 5px,
            #f6f6f6 5px,
            #f6f6f6 95px,
            transparent 95px,
            transparent 100px
        ),
        linear-gradient(
            transparent 0px,
            transparent 1px,
            #f6f6f6 1px,
            #f6f6f6 99px,
            transparent 99px,
            transparent 100px
        ),
        linear-gradient(#cdcccc, #cdcccc);
    background-size: 100px 100%, 100% 100px, 100% 10px, 10px 100%, 100% 100px, 100px 100%,
        100px 100%, 100px 100px, 100px 100px;
}

#header {
    background-color: #262626;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    position: relative;
    z-index: 10;
}

#header::before {
    content: "";
    border: 4px ridge #a3a3a3;
    position: absolute;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    box-sizing: border-box;
    z-index: -1;
}

#header h1 {
    padding: 3px 3px 6px 10px;
    font-family: "DungGeunMo";
    font-size: 30px;
}

#header h1 a {
    color: #fff;
}

#header h1 em {
    font-size: 16px;
    font-style: normal;
}

@media (max-width: 600px) {
    #header h1 em {
        display: none;
    }
}

#header nav {
    padding-right: 10px;
}

#header nav li {
    display: inline;
}

#header nav li a {
    color: #fff;
    padding: 0 10px;
    border: 1px dashed #fff;
    font-family: "DungGeunMo";
}

#header nav li.active a {
    color: #000;
    background-color: #fff;
}

#footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 150px;
    z-index: 10000;
}

#footer a {
    color: #000;
    font-family: "DungGeunMo";
}

#footer a:hover {
    text-decoration: underline;
}

/* quiz__wrap */
.quiz__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
    flex-wrap: wrap;
    font-family: "GoYang";
}

.quiz {
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    border: 8px ridge #cacaca;
    margin: 10px;
}

.quiz__type {
    background-color: #cacaca;
    text-align: center;
    display: block;
    font-size: 16px;
    border: 3px ridge #cacaca;
    color: #3b3b3b;
    font-family: "DungGeunMo";
    padding: 4px;
}

.quiz__question {
    border-top: 6px ridge #cacaca;
    border-bottom: 6px ridge #cacaca;
    padding: 20px;
    font-family: "GoYang";
    line-height: 1.3;
}

.quiz__question .number {
    color: rgb(230, 121, 20);
}

.quiz__question .ask {
    display: inline;
}

.quiz__answer {
    border-top: 6px ridge #cacaca;
    padding: 10px;
    background-color: #f5f5f5;
}

.quiz__answer .confirm {
    border: 6px ridge #cacaca;
    width: 100%;
    font-size: 22px;
    font-weight: 1000;
    padding: 13px 20px;
    font-family: "GoYang";
    background-color: #d6d6d6;
    cursor: pointer;
}

.quiz__answer .result {
    border: 6px ridge #cacaca;
    width: 100%;
    font-size: 22px;
    line-height: 1.3;
    padding: 13px 20px;
    font-family: "GoYang";
    box-sizing: border-box;
    text-align: center;
}

.quiz__answer .input {
    width: 100%;
    border: 6px ridge #cacaca;
    font-size: 22px;
    padding: 13px 20px;
    background-color: #fff;
    font-family: "GoYang";
    margin-bottom: 10px;
}

.quiz__view {
    background-color: #f5f5f5;
    font-family: "GoYang";
    font-weight: 1000;
    position: relative;
    overflow: hidden;
}

.quiz__view .true {
    width: 120px;
    height: 120px;
    background-color: rgb(230, 121, 20);
    color: #fff;
    border-radius: 50%;
    line-height: 120px;
    text-align: center;
    position: absolute;
    left: 70%;
    top: 100px;
    opacity: 0;
}

.quiz__view .false {
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    line-height: 120px;
    text-align: center;
    position: absolute;
    right: 70%;
    top: 100px;
    opacity: 0;
}

.quiz__view.like .true {
    opacity: 1;
    animation: wobble 0.6s;
}

.quiz__view.dislike .false {
    opacity: 1;
    animation: wobble 0.6s;
}

.quiz__selects {
    margin: 5px 0;
}

.quiz__selects label {
    display: flex;
}

.quiz__selects label input {
    position: absolute;
    left: -9999px;
}

.quiz__selects label span {
    font-size: 20px;
    font-family: "GoYang";
    padding: 10px;
    display: flex;
    align-items: center;
    line-height: 1.3;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.quiz__selects label span::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-shrink: 0;
    box-shadow: inset 0px 0px 0px 4px rgb(230, 121, 20);
    transition: all 0.25s;
    margin-right: 15px;
}

.quiz__selects label input:checked + span {
    background-color: rgb(255, 239, 225);
}

.quiz__selects label input:checked + span::before {
    box-shadow: inset 0px 0px 0px 10px rgb(230, 121, 20);
}

.quiz__confirm {
    width: 100%;
    text-align: center;
}

.quiz__confirm .check {
    border: 6px ridge #cacaca;
    font-size: 22px;
    line-height: 1.3;
    padding: 13px 60px;
    font-family: "GoYang";
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    margin: 40px 0;
    transition: background 0.3s;
}

.quiz__confirm .check:hover {
    background-color: rgb(255, 209, 169);
}

@keyframes wobble {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    15% {
        transform: translateX(-25%) rotate(-5deg);
    }
    30% {
        transform: translateX(20%) rotate(3deg);
    }
    45% {
        transform: translateX(-15%) rotate(-3deg);
    }
    60% {
        transform: translateX(10%) rotate(2deg);
    }
    75% {
        transform: translateX(-5%) rotate(-1deg);
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}

/* dog */
.dog .tail,
.dog .chin,
.dog .tongue::before,
.dog .tongue::after,
.dog .mouth,
.dog .nose,
.dog .teardrop,
.dog .eyes,
.dog .face::before,
.dog .face::after,
.dog .ears::before,
.dog .ears::after {
    transition: 0.2s ease-in;
}

.dog {
    padding-top: 50px;
}

.dog .head,
.dog .body {
    position: relative;
    width: 115px;
}

.dog .head {
    height: 115px;
    border-radius: 50% 50% 0 0;
    margin: 0 auto;
}

.dog .ears {
    position: relative;
    top: -14%;
    width: 100%;
}

.dog .ears::before,
.dog .ears::after {
    content: "";
    position: absolute;
    top: 0;
    width: 35px;
    height: 70px;
    background: #cb7a1d;
    border-top: 11px solid #f7aa2b;
    border-left: 7px solid #f7aa2b;
    border-right: 7px solid #f7aa2b;
}

.dog .ears::before {
    left: 0;
    border-radius: 50% 45% 0 0;
}

.dog .ears::after {
    right: 0;
    border-radius: 45% 50% 0 0;
}

.dog .face {
    position: absolute;
    background: #f7aa2b;
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0 0;
}

.dog .face::before,
.dog .face::after {
    content: "";
    display: block;
    margin: auto;
    background: #fefefe;
}

.dog .face::before {
    width: 15px;
    height: 35px;
    margin-top: 24px;
    border-radius: 20px 20px 0 0;
}

.dog .face::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 60px;
    height: 65px;
    border-radius: 45% 45% 0 0;
}

.dog .eyes {
    position: relative;
    top: 29%;
    text-align: center;
}

.dog .eyes::before,
.dog .eyes::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #451d1c;
    margin: 0 14.5%;
}

.dog .teardrop {
    position: absolute;
    top: 125%;
    left: 19%;
    width: 6px;
    height: 6px;
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
    background: #fefefe;
    visibility: hidden;
}

.dog .nose {
    position: relative;
    top: 35%;
    width: 16px;
    height: 8px;
    border-radius: 35px 35px 65px 65px;
    background: #451d1c;
    margin: auto;
}

.dog .mouth {
    position: relative;
    top: 34.5%;
    width: 4px;
    height: 6px;
    margin: 0 auto;
    text-align: center;
    background: #451d1c;
}

.dog .mouth::before,
.dog .mouth::after {
    content: "";
    position: absolute;
    top: -4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px solid #451d1c;
    border-left-color: transparent;
    border-top-color: transparent;
    z-index: 2;
}

.dog .mouth::before {
    transform: translateX(-89%) rotate(45deg);
}

.dog .mouth::after {
    transform: translateX(-2px) rotate(45deg);
}

.dog .tongue {
    position: relative;
    z-index: 1;
}

.dog .tongue::before,
.dog .tongue::after {
    content: "";
    position: absolute;
}

.dog .tongue::before {
    top: 10px;
    left: -7px;
    width: 18px;
    height: 0;
    border-radius: 50%;
    background: #451d1c;
    z-index: -1;
}

.dog .tongue::after {
    top: 14px;
    left: -4px;
    width: 12px;
    height: 0;
    border-radius: 20px;
    background: #f5534f;
    z-index: 5;
}

.dog .chin {
    position: relative;
    top: 47.5%;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    border-top: 10px solid #e8e7ec;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 2px;
    z-index: 0;
}

.dog .body {
    position: relative;
    height: 139px;
    margin: auto;
    z-index: 0;
}

.dog .body::before,
.dog .body::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    margin: auto;
    background: #f7aa2b;
}

.dog .body::after {
    top: -2px;
    bottom: -1px;
    width: 60px;
    background: #fefefe;
}

.dog .tail {
    position: absolute;
    left: -60%;
    bottom: 1px;
    background: #f7aa2b;
    width: 93px;
    height: 15px;
    transform: rotate(45deg);
    transform-origin: 100% 50%;
    border-radius: 25px 0 0 25px;
    z-index: -2;
    animation: movetail 0.1s linear infinite alternate forwards;
}

.dog .legs {
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 120%;
    height: 15%;
    background: #f7aa2b;
    border-radius: 10px 10px 0 0;
}

.dog .legs::before,
.dog .legs::after {
    content: "";
    position: absolute;
    bottom: 1px;
    background: #cb7a1d;
    z-index: -1;
}

.dog .legs::before {
    left: -7.5%;
    width: 115%;
    height: 55%;
    border-radius: 5px 5px 0 0;
}

.dog .legs::after {
    left: -3.5%;
    width: 107%;
    height: 250%;
    border-radius: 20px 20px 35px 35px;
}

.like .dog .face::before {
    margin-top: 10px;
}

.like .dog .face::after {
    height: 85px;
}

.like .dog .eyes {
    top: 13%;
}

.like .dog .eyes::before,
.like .dog .eyes::after {
    width: 18px;
    height: 5px;
    margin: 0px 12.5%;
    transform: rotate(-37.5deg);
    border-radius: 20px;
}

.like .dog .eyes::after {
    transform: rotate(37.5deg);
}

.like .dog .nose {
    top: 18%;
}

.like .dog .mouth {
    top: 16.5%;
}

.like .dog .tongue::before {
    height: 12px;
}

.like .dog .tongue::after {
    height: 24px;
    animation: movetongue 0.1s linear 0.35s infinite alternate forwards;
}

.like .dog .chin {
    top: 34%;
}

.like .dog .tail {
    animation: movetail 0.1s linear infinite alternate forwards;
}

.dislike .dog .ears::before {
    transform: rotate(-50deg) translate(-7px, 2px);
}

.dislike .dog .ears::after {
    transform: rotate(50deg) translate(7px, 2px);
}

.dislike .dog .face::before {
    margin-top: 28px;
}

.dislike .dog .face::after {
    height: 55px;
}

.dislike .dog .eyes {
    top: 38%;
}

.dislike .dog .eyes::before,
.dislike .dog .eyes::after {
    width: 18px;
    height: 5px;
    margin: 0px 14.5%;
    transform: rotate(-37.5deg);
    border-radius: 20px;
}

.dislike .dog .eyes::after {
    transform: rotate(37.5deg);
}

.dislike .dog .teardrop {
    animation: cry 0.1s ease-in 0.25s forwards;
}

.dislike .dog .nose {
    top: 44%;
}

.dislike .dog .mouth {
    top: 42%;
}

.dislike .dog .chin {
    top: 52%;
}

.dislike .dog .tail {
    transform: rotate(0);
    animation: none;
}

@keyframes movetongue {
    100% {
        height: 27px;
    }
}

@keyframes movetail {
    0% {
        transform: rotate(37deg);
    }

    100% {
        transform: rotate(52deg);
    }
}

@keyframes cry {
    100% {
        visibility: visible;
    }
}

.btn-like:hover ~ .wrapper,
.btn-like:active ~ .wrapper {
    background: #f0754a;
}

.btn-like:hover ~ .wrapper .face::before,
.btn-like:active ~ .wrapper .face::before {
    margin-top: 10px;
}

.btn-like:hover ~ .wrapper .face::after,
.btn-like:active ~ .wrapper .face::after {
    height: 85px;
}

.btn-like:hover ~ .wrapper .eyes,
.btn-like:active ~ .wrapper .eyes {
    top: 13%;
}

.btn-like:hover ~ .wrapper .eyes::before,
.btn-like:hover ~ .wrapper .eyes::after,
.btn-like:active ~ .wrapper .eyes::before,
.btn-like:active ~ .wrapper .eyes::after {
    width: 18px;
    height: 5px;
    margin: 0px 12.5%;
    transform: rotate(-37.5deg);
    border-radius: 20px;
}

.btn-like:hover ~ .wrapper .eyes::after,
.btn-like:active ~ .wrapper .eyes::after {
    transform: rotate(37.5deg);
}

.btn-like:hover ~ .wrapper .nose,
.btn-like:active ~ .wrapper .nose {
    top: 18%;
}

.btn-like:hover ~ .wrapper .mouth,
.btn-like:active ~ .wrapper .mouth {
    top: 16.5%;
}

.btn-like:hover ~ .wrapper .tongue::before,
.btn-like:active ~ .wrapper .tongue::before {
    height: 12px;
}

.btn-like:hover ~ .wrapper .tongue::after,
.btn-like:active ~ .wrapper .tongue::after {
    height: 24px;
    -webkit-animation: movetongue 0.1s linear 0.35s infinite alternate forwards;
    animation: movetongue 0.1s linear 0.35s infinite alternate forwards;
}

.btn-like:hover ~ .wrapper .chin,
.btn-like:active ~ .wrapper .chin {
    top: 34%;
}

.btn-like:hover ~ .wrapper .tail,
.btn-like:active ~ .wrapper .tail {
    -webkit-animation: movetail 0.1s linear infinite alternate forwards;
    animation: movetail 0.1s linear infinite alternate forwards;
}

.btn-dislike:hover ~ .wrapper,
.btn-dislike:active ~ .wrapper {
    background: #747499;
}

.btn-dislike:hover ~ .wrapper .ears::before,
.btn-dislike:active ~ .wrapper .ears::before {
    transform: rotate(-50deg) translate(-7px, 2px);
}

.btn-dislike:hover ~ .wrapper .ears::after,
.btn-dislike:active ~ .wrapper .ears::after {
    transform: rotate(50deg) translate(7px, 2px);
}

.btn-dislike:hover ~ .wrapper .face::before,
.btn-dislike:active ~ .wrapper .face::before {
    margin-top: 28px;
}

.btn-dislike:hover ~ .wrapper .face::after,
.btn-dislike:active ~ .wrapper .face::after {
    height: 55px;
}

.btn-dislike:hover ~ .wrapper .eyes,
.btn-dislike:active ~ .wrapper .eyes {
    top: 38%;
}

.btn-dislike:hover ~ .wrapper .eyes::before,
.btn-dislike:hover ~ .wrapper .eyes::after,
.btn-dislike:active ~ .wrapper .eyes::before,
.btn-dislike:active ~ .wrapper .eyes::after {
    width: 18px;
    height: 5px;
    margin: 0px 14.5%;
    transform: rotate(-37.5deg);
    border-radius: 20px;
}

.btn-dislike:hover ~ .wrapper .eyes::after,
.btn-dislike:active ~ .wrapper .eyes::after {
    transform: rotate(37.5deg);
}

.btn-dislike:hover ~ .wrapper .teardrop,
.btn-dislike:active ~ .wrapper .teardrop {
    -webkit-animation: cry 0.1s ease-in 0.25s forwards;
    animation: cry 0.1s ease-in 0.25s forwards;
}

.btn-dislike:hover ~ .wrapper .nose,
.btn-dislike:active ~ .wrapper .nose {
    top: 44%;
}

.btn-dislike:hover ~ .wrapper .mouth,
.btn-dislike:active ~ .wrapper .mouth {
    top: 42%;
}

.btn-dislike:hover ~ .wrapper .chin,
.btn-dislike:active ~ .wrapper .chin {
    top: 52%;
}

.btn-dislike:hover ~ .wrapper .tail,
.btn-dislike:active ~ .wrapper .tail {
    transform: rotate(0);
}

/* modal__wrap */
.modal__wrap {
    text-align: left;
    font-family: "EF_Hyunygothic";
}

.modal__btn {
    color: white;
    background-color: black;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    position: fixed;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: "DungGeunMo";
}

.modal__btn:hover {
    background-color: white;
    color: black;
}

.modal__cont {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modal__box {
    width: 60%;
    border-radius: 0.6rem;
    background-color: #fff;
    box-shadow: 0 10px 20px -5px hsl(180deg 2% 10%);
    height: 70vh;
    transform: scale(0);
}

.modal__box .title {
    padding-inline: 1rem;
    cursor: grab;
    background-color: hsl(180 2% 10%);
    display: flex;
    align-items: center;
    color: #fff;
    height: 50px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.modal__box .title .plus {
    background: #282b2e;
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
}

.modal__box .title .dot {
    width: 15px;
    height: 15px;
    background-color: #cc7832;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-left: 25px;
}

.modal__box .title .dot::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #6a8759;
    border-radius: 50%;
}

.modal__box .title .dot::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #b30000;
    border-radius: 50%;
}

.modal__box .title .tabs {
    display: flex;
    margin-left: 45px;
}

.modal__box .title .tabs > div {
    color: hsl(39 33% 66%);
    background-color: hsl(22 7% 29%);
    padding: 0.35rem 0.7rem 0.25rem 0.8rem;
    margin-right: 0.65rem;
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    text-transform: uppercase;
    cursor: pointer;
}

.modal__box .title .tabs > div em {
    font-style: normal;
}

.modal__box .title .tabs > div.active {
    background-color: #1f224a;
}

.modal__box .title .tabs > div .favicon {
    margin-right: 0.4rem;
    margin-top: 0.2rem;
}

.modal__box .title .tabs > div .close {
    margin-left: 5rem;
}

.modal__box .cont {
    background-color: #282936;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.modal__box .cont > div {
    display: none;
}

.modal__box .cont > div.active {
    display: block;
    height: 100%;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #1f224a;
    padding: 1rem 1rem 0.8rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
}

.modal__close:hover {
    background-color: #292c61;
}

.modal__close svg {
    color: #fff;
}

/* 모달 애니메이션 */
/* animation: zoom 0s 0s 작업했을 때 앞은 애니메이션 시간, 뒤는 딜레이 시간 */

.modal__cont.show {
    /* 전체 배경 */
    animation: foldOut 1s ease forwards;
}
.modal__cont.show .modal__box {
    /* 스크립트 박스 */
    animation: zoomOut 0.5s 1s ease forwards;
}
.modal__cont.show .modal__close {
    /* 닫기 버튼 */
    animation: opacityOut 0.5s 1.5s ease forwards;
}

.modal__cont.show.hide {
    animation: foldIn 0.3s 0.5s ease backwards;
}

.modal__cont.show.hide .modal__box {
    animation: zoomIn 0.5s ease forwards;
}

.modal__cont.show.hide .modal__close {
    animation: opacityIn 0.5s ease forwards;
}

/* scaleX, scaleY : Line을 그리며 커지는 애니메이션 */
@keyframes foldOut {
    0% {
        transform: scaleX(0) scaleY(0.001);
    }

    50% {
        transform: scaleX(1) scaleY(0.001);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes foldIn {
    0% {
        transform: scaleX(1) scaleY(1);
    }

    50% {
        transform: scaleX(1) scaleY(0.001);
    }

    100% {
        transform: scaleX(0) scaleY(0.001);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes opacityOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes opacityIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* 미디어쿼리 */
@media (max-width: 1100px) {
    .modal__box .title {
        overflow: hidden;
    }

    .modal__box .title .dot {
        display: none;
    }

    .modal__box .title .tabs {
        margin-left: 0;
    }

    .modal__box .title .tabs .close {
        display: none;
    }
}

@media (max-width: 600px) {
    #header {
        text-align: center;
        width: 100%;
    }
    #header h1 {
        line-height: 1.4;
    }
    .madal__box {
        width: 96%;
    }
}
