.tetris__wrap {
  width: 380px;
  height: 500px;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 10px 10px;
  position: absolute;
  display: none;
  top: 20%;
  left: 40%;
}
.tetris__main {
  width: 360px;
  height: 480px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 100px 50px;
  text-align: center;
}
.tetris__main h2 {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}
.tetris__main p {
  background-color: white;
  border-radius: 10px;
  width: 50%;
  line-height: 30px;
  height: 30px;
  margin-left: 65px;
  transform: scale(1);
  transition: all 0.3s;
}
.tetris__main p:hover {
  transform: scale(1.2);
}
.tetris__main ol {
  margin-top: 50px;
  color: white;
  text-align: left;
}
.tetris__main ol li {
  margin-bottom: 10px;
  line-height: 1.2;
  word-break: keep-all;
}
.tetris__inner {
  width: 360px;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.tetris__info {
  margin-top: 12px;
  position: relative;
  display: none;
}
.tetris__line {
  position: absolute;
  left: 20px;
}
.tetris__score {
  position: absolute;
  left: 145px;
}
.tetris-close {
  position: absolute;
  right: 20px;
}
.tetris__start {
  
}
.tetris__restart {
}
.tetris__play {
}
.playground {
}
.playground > ul {
}
.playground > ul > li {
  list-style: none;
  width: 100%;
  height: 30px;
}
.playground > ul > li > ul {
  display: flex;
}
.playground > ul > li > ul > li {
  list-style: none;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.Tmino {
  border: 8px #a042a2 outset !important;
  background-color: #952d98;
  box-sizing: border-box;
}
.Jmino {
  border: 8px #1a74c4 outset !important;
  background-color: #0065bd;
}
.Lmino {
  border: 8px #ff861a outset !important;
  background-color: #ff7900;
}
.Zmino {
  border: 8px #ef3e4d outset !important;
  background-color: #ed2939;
}
.Smino {
  border: 8px #78c53e outset !important;
    background-color: #69be28;
}
.Omino {
  border: 8px #fed01a outset !important;
  background-color: #fecb00;
}
.Imino {
  border: 8px #1aa9de outset !important;
  background-color: #009fda;
}