/* AgreeType */
.agree_tit {
  text-align: center;
  font-size: 48px;
  margin-top: 120px;
  margin-bottom: 75px;
}

.Agree__inner {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.Agree__inner h3 {
  margin-top: 75px;
  margin-bottom: 20px;
  font-size: 24px;
}

.Agree__inner p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.Agree {
  width: 100%;
  overflow: hidden;
}

.Agree.a1 {
  margin-bottom: 70px;
}

.Agree.a2 {
  margin-bottom: 45px;
}

.Agree .title {
  font-size: 16px;
  height: 40px;
  padding-left: 10px;
  background-color: #000;
  align-items: center;
  display: flex;
  color: #fff;
  justify-content: space-between;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #000;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

input[id="check1"]:checked + label::after {
  content: "✔";
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  left: 0;
  top: -5px;
  color: #000;
}

input[id="check2"]:checked + label::after {
  content: "✔";
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  left: 0;
  top: -5px;
  color: #000;
}

input[id="check3"]:checked + label::after {
  content: "✔";
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  left: 0;
  top: -5px;
  color: #000;
}

input[id="check4"]:checked + label::after {
  content: "✔";
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  left: 0;
  top: -5px;
  color: #000;
}

.Agree .box {
  border: 1px solid #c1c1c1;
  overflow-y: scroll;
  height: 250px;
}

.box .desc {
  margin: 10px 0;
  padding: 15px 20px;
  font-size: 16px;
}

.box .desc2 {
  font-size: 14px;
  padding: 0 20px;
  line-height: 1.5;
  color: #444;
}

.input__check {
  display: flex;
  align-items: center;
}
.checkbox1 {
  display: flex;
}
.checkbox2 {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
}

.input__check .checkbox_p,
.checkbox2 .checkbox_p {
  font-size: 16px;
  color: #000;
  margin: 2px;
  font-weight: 400;
}

.btn_box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 120px;
}

.next_button {
  cursor: pointer;
  width: 175px;
  height: 72px;
  font-size: 20px;
}

.next_button[type="button"]:disabled {
  background: #d9d9d9;
  color: #fff;
  border: 0;
  border-radius: 10px;
}

.next_button[type="button"] {
  background: #000;
  color: #fff;
  border-radius: 10px;
}

.btn_box .Btn {
  /* width: 17%; */
  /* padding: 15px 40px; */
  width: 175px;
  height: 72px;
  border-radius: 10px;
  font-size: 20px;
  box-sizing: border-box;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

/* infoType */
.info__inner {
  width: 600px;
  margin: 0 auto;
}

.login1 {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 20px;
}

.info1 {
  display: block;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 50px;
}

.info1 .msg {
  color: orangered;
  font-size: 14px;
  margin-top: 10px;
}

.info2 .msg {
  color: orangered;
  font-size: 14px;
  margin-top: 10px;
}

.IDbox .msg {
  display: block;
}

.inputbox {
  display: flex;
}
.inputbox > div {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

#infoType .inputbox input[type="radio"] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  accent-color: #000;
  cursor: pointer;
  margin-right: 10px;
}

#infoType label {
  font-size: 18px;
  display: block;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 20px;
}
#infoType input {
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  font-weight: 300;
  border-radius: 10px;
}

#infoType .IDbox input {
  width: 75%;
}

#infoType .IDbox a {
  width: 22%;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  background-color: black;
  float: right;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
}

#infoType input::placeholder {
  font-size: 16px;
  color: #d9d9d9;
}

#youPass {
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}
#youPassC {
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.btn1 {
  padding: 20px;
  background-color: #000;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: 300;
  border: none;
}

.login2 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 20px;
}

/* 완료 페이지 */
.modalBox {
  width: 100%;
  height: 400px;
  padding-top: 80px;
  margin-bottom: 120px;
}
.modalBox .mobal-btn {
  width: 330px;
  height: 80px;
  font-size: 24px;
  margin: 0 auto;
  margin-bottom: 80px;
  border-radius: 10px;
  background-color: #000;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
.modalBox .mobal-btn .closeBtn {
  color: #fff;
  padding-top: 25px;
  display: inline-block;
}
.modalBox h2 {
  font-size: 48px;
  margin-top: 80px;
  text-align: center;
}
.modalBox p {
  font-size: 20px;
  color: #000;
  margin: 60px 0;
  text-align: center;
  word-break: keep-all;
}

.hidden {
  display: none;
}

@media (max-width: 960px) {
  .agree {
    padding: 0 20px;
  }
  .Agree__inner {
    width: 90%;
    font-size: 16px;
  }
  .info__inner {
    width: 90%;
  }
  .info__inner input {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .IDbox {
    flex-wrap: nowrap;
    display: block;
  }

  #infoType .IDbox .btn1 {
    margin-top: 20px;
    width: 50%;
  }

  #infoType .IDbox .id {
    width: 100%;
  }

  .btn_box .Btn {
    width: 140px;
  }

  .modalBox .mobal-btn {
    width: 60%;
    height: 15%;
    font-size: 20px;
  }
  .modalBox .mobal-btn .closeBtn {
    padding-top: 18px;
  }
  .modalBox p {
    font-size: 18px;
    /* margin: 60px 0 40px; */
  }
}

@media (max-width: 480px) {
  .agree {
    padding: 0 10px;
  }
  /* .info__inner {
            width: 90%;
        } */
}
