.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 180px auto 120px auto;
  transition: all 0.2s ease-in-out;
}

.top__container {
  max-width: 1200px;
  padding: 180px 20px 0 20px;
  margin: 0 auto;
}

.mid__container {
  max-width: 1200px;
  padding: 0 20px 120px 20px;
  margin: 0 auto;
}

/* skip 메뉴 */
#skip {
  position: relative;
  z-index: 100000;
}

#skip a {
  background: #000;
  color: #fff;
  position: absolute;
  padding: 20px 40px;
  left: -400px;
  top: 5px;
}

#skip a:active,
#skip a:focus {
  left: 5px;
}

/* board total */
.board__total {
  font-size: 14px;
  font-weight: 300;
  color: #666;
  margin: 0 0 10px 5px;
}

/* board pages */
.board__pages {
  margin-top: 70px;
}
.board__pages ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board__pages ul li a {
  display: flex;
  justify-content: center;
  color: #666;
  font-size: 16px;
  padding: 10px;
  font-weight: 400;
}
.board__pages ul li a.active {
  color: #000;
  font-weight: 500;
}

/* main header */
.main__header {
  position: relative;
}
.main__header h2:nth-child(1) {
  line-height: 1.3;
  font-weight: 500;
  font-size: 40px;
  color: #000;
}
.main__header h2:nth-child(2) {
  line-height: 1.3;
  font-weight: 600;
  font-size: 70px;
  margin-bottom: 120px;
  color: #000;
}
.main__header .menu {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.main__header .menu li:nth-child(1) a {
  font-weight: 300;
  padding: 3px 20px;
  font-size: 18px;
  width: 150px;
  height: 23px;
  text-align: center;
  display: inline-block;
  color: #b0b0b0;
  border-right: 1px solid #d9d9d9;
}
.main__header .menu li:nth-child(2) a {
  font-weight: 300;
  font-size: 18px;
  padding: 3px 20px;
  color: #b0b0b0;
  text-align: center;
  width: 140px;
  display: inline-block;
}
.main__header .menu li:nth-child(1) a.active,
.main__header .menu li:nth-child(2) a.active {
  color: #000;
  font-weight: 500;
}

/* home */
.home {
  position: absolute;
  bottom: 90px;
  display: flex;
  right: 20px;
  align-items: center;
}
.home .home_icon {
  width: 20px;
  height: 20px;
  margin-top: 7px;
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 17V11H12V17H17V9H20L10 0L0 9H3V17H8Z' fill='%23000'/%3E%3C/svg%3E");
}
.home span:nth-child(1) {
  margin-right: 25px;
}
.home span:nth-child(2) {
  color: #b0b0b0;
  font-weight: 300;
  font-size: 13px;
  padding-left: 25px;
  border-left: 1px solid #d9d9d9;
}

/* current */
.current__home {
  position: absolute;
  bottom: 30px;
  display: flex;
  right: 20px;
  align-items: center;
}
.current__home_iconBox .current__home_icon {
  display: block;
  width: 20px;
  height: 20px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 17V11H12V17H17V9H20L10 0L0 9H3V17H8Z' fill='%23000'/%3E%3C/svg%3E");
}
.current__home span:nth-child(1) {
  margin-right: 25px;
}
.current__home span:nth-child(2) {
  color: #b0b0b0;
  font-weight: 300;
  font-size: 13px;
  padding-left: 25px;
  border-left: 1px solid #d9d9d9;
}

/* top btn */
.topBtn.show {
  display: block;
}
.topBtn {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='30' cy='30' r='30' fill='%23000'/%3E%3Cpath d='M21.028 24.7925C20.4637 25.3456 20.4637 26.2544 21.028 26.8075V26.8075C21.5761 27.3446 22.4529 27.345 23.0016 26.8086L28.5714 21.362V42.5714C28.5714 43.3604 29.211 44 30 44V44C30.789 44 31.4286 43.3604 31.4286 42.5714V21.362L36.9919 26.8141C37.5434 27.3546 38.4265 27.353 38.9761 26.8106V26.8106C39.5388 26.2552 39.5372 25.3464 38.9725 24.7931L31.3999 17.3719C30.6222 16.6098 29.3778 16.6098 28.6001 17.3719L21.028 24.7925Z' fill='white'/%3E%3C/svg%3E");
}

/* 미디어쿼리 */
@media (max-width: 960px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .main__header h2:nth-child(1) {
    font-size: 28px;
  }
  .main__header h2:nth-child(2) {
    font-size: 50px;
  }
}
