/* header */
.header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: right 0.4s ease-in;
}

.header__area {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  padding: 0 60px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #efefef;
}

.header__container::after {
  content: '';
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #efefef;
}

.header__logo {
  text-align: center;
  line-height: 50px;
  font-weight: 800;
  font-size: 24px;
  position: fixed;
  top: 10px;
}
.header__logo a {
  color: #000;
}
.header__menu {
  display: flex;
  justify-content: center;
  margin-left: 60px;
}

.header__menu .main__menu {
  width: 190px;
  line-height: 70px;
  height: 68px;
  display: block;
  color: #000;
  font-weight: 400;
  font-size: 16px;
}

.header__menu .sub li a {
  margin-left: 5px;
  height: 45px;
  font-size: 15px;
  font-weight: 300;
  line-height: 45px;
  display: block;
  color: #666;
}

.header__menu .sub li:nth-child(1) a {
  margin-top: 10px;
}

.header__menu .sub li:last-child a {
  margin-bottom: 10px;
}

.header__menu .sub a:hover {
  color: #000;
  font-weight: 500;
  /* border-radius: 10px; */
  /* background-color: #f5f5f5; */
  transition: all 0.2s ease;
}
.header__right .search {    
  position: absolute;
  right: 130px;
  top: 20px;
  display: none;
}
.header__right .ham {
  position: absolute;
  right: 30px;
  top: -8px;
  cursor: pointer;
  padding: 27px;
}
.header__right .ham__close {
  position: absolute;
  right: 37px;
  top: -3px;
  cursor: pointer;
  padding: 27px;
}

.header__right .ham__mobile {
  position: absolute;
  right: 60px;
  top: 25px;
  cursor: pointer;
  display: none;
}

.header__right .ham__mobile__close {
  position: absolute;
  right: 68px;
  top: 28px;
  cursor: pointer;
  display: none;
}

.header__right .smallmenu {
  position: absolute;
  border: 1px solid #efefef;
  background-color: #fff;
  box-sizing: border-box;
  right: 15px;
  top: 68px;
  z-index: 11;
  padding: 15px;
  transition: all 0.4s cubic-bezier(.1,1.01,.78,1.02);
  transform: translateY(-30px);
  user-select: none;
}
.header__right .smallmenu li {
  text-align: center;
}
.header__right .smallmenu li a {
  padding: 15px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #666;
}
.header__right .smallmenu li:hover {
  text-decoration: underline;
}

.mobilemenu {
  position: absolute;
  right: -100%;
}

body.scroll {
  overflow: hidden;
}

/* 미디어쿼리 */
@media (max-width: 1000px) {
  .header__menu .main__menu {
      width: 150px;
  }
  .header__menu .sub li a {
      width: 150px;
  }
}

@media (max-width: 900px) {
  .header__area {
      padding: 0 30px;
  }
  .header__right .ham {
      right: 0px;
  }
  .header__right .ham__close {
      right: 3px;
  }
  .header__right .search {
      right: 100px;
  }
  .header__right .smallmenu {
      right: -1px;
  }
}

@media (max-width: 820px) {
  .header__right .smallmenu {
      display: none;
  }
  .header__area {
      padding: 0 20px;
  }
  .header__right .ham__mobile {
      position: absolute;
      right: 30px;
      top: 18px;
      cursor: pointer;
      display: none;
  }
  .header__right .ham__mobile__close {
      position: absolute;
      right: 37px;
      top: 22px;
      cursor: pointer;
      display: none;
  }
  .header__logo {
      font-size: 18px;
  }
  .header__container::after {
      height: 0;
  }
  .header__area {
      height: 70px;
  }
  .header__area.overlay {
      background-color: #fff;
  }
  .header__menu .main__menu {
      display: none;
  }
  .header__right .search {
      right: 90px;
  }
  .header__right .ham {
      display: none;
  }
  .header__right .ham__close {
      display: none;
  }
  .header__right .ham__mobile {
      display: block;
  }
  .header__right .ham__mobile__close {
      display: block;
  }

  .mobilemenu {
      position: fixed;
      top: 70px;
      width: 100%;
      box-sizing: border-box;
      background-color: #fff;
      padding: 20px 60px 100px;
      font-size: 20px;
      font-weight: 300;
      text-align: right;
      z-index: 10;
      transition: right 0.4s ease-in;
      overflow-y: scroll;
      height: 95vh;
  }

  .mobilemenu.overlay {
      right: 0;
  }

  .mobilemenu li a {
      width: 100%;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      color: #000;
      font-weight: 500;
      box-sizing: border-box;
      position: relative;
  }
  .mobilemenu li a:hover {
      color: #000;
  }
  .mobilemenu li a.overlay {
      opacity: 1;
  }
  .mobilemenu li ul {
      margin-bottom: 10px;
  }
  .mobilemenu li ul li a {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      color: #b5b5b5;
  }
  .mobilemenu li ul li a::before {
      content: "";
      width: calc(35%);
      height: 2px;
      background: #000;
      position: absolute;
      bottom: 0px;
      right: -10px;
      transition: all 0.3s ease;
      transform: scaleX(0);
  }
  .mobilemenu li ul li a:hover::before {
      transform: scaleX(1);
  }
  .mobilemenu .small li a {
      width: 100%;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      color: #000;
      font-size: 16px;
      font-weight: 500;
  }
  .mobilemenu .small {
      position: relative;
      margin-top: 60px;
      display: flex;
      justify-content: space-around;
  }
  .mobilemenu .small::before {
      content: "";
      position: absolute;
      top: -20px;
      right: 0px;
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
  }
}
@media (max-width: 600px) {
  .mobilemenu {
      padding: 20px 30px 100px;
  }
  .header__area {
      position: relative;
  }
  .mobilemenu {
      height: 90vh;
  }
  /* .mobilemenu::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 110vh;
      background: rgba(255,255,255);
  } */
}