/* common */
.login__container {
  width: 600px;
  margin: 0 auto;
  /* background: #f5f5f5; */
}

/* find Type */
.find__header {
  margin-top: 180px;
  text-align: center;
  font-size: 40px;
}
.find__ID .find__menu {
  margin-top: 80px;
  text-align: center;
}
.find__ID ul {
}
.find__ID ul li {
  display: inline-block;
  padding: 40px;
}
.find__ID ul li a {
  padding-bottom: 10px;
  font-size: 18px;
  color: #888;
}

.find__ID ul li a.active,
.find__ID ul li a:hover {
  color: #000;
  border-bottom: 2px solid #323232;
}

.find__contents {
  /* margin-top: 80px; */
}
.findBox {
  margin-bottom: 80px;
}

.find__contents > p {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 120px;
    font-size: 20px;
}

.find__contents .findForm {
  margin-bottom: 80px;
}
.find__contents label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #323232;
}
.find__contents .find-name {
  margin-bottom: 20px;
}

.find__contents .find-name .youPass, .find__contents .find-name .youPassC {
    width: 100%;
    height: 70px;
    font-weight: 400;
    border-radius: 10px;
    line-height: 1;
    padding-left: 30px;
    color: #323232;
    border: 1px solid #b0b0b0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'SCoreDream';
}

.find__tebMenu input {
  margin-right: 10px;
}
.find__tebMenu label {
  margin: 60px 0 40px;
  margin-right: 40px;
  font-size: 16px;
}

.find__tebMenu input[type="radio"] {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #323232;
  accent-color: #323232;
  cursor: pointer;
}

.find__tabContent .find-tab.hide {
  display: none;
}

.youName,
.youID,
.youEmail,
.youPhone {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  line-height: 1;
  padding-left: 30px;
  color: #323232;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  font-size: 18px;
}
.youName::placeholder,
.youID::placeholder,
.youEmail::placeholder,
.youPhone::placeholder {
  color: #b0b0b0;
  font-size: 18px;
}

.youID:focus,
.youPass:focus {
  outline: none;
}

.find__contents .find-btn {
  cursor: pointer;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  background: #000;
  font-size: 24px;
  color: #fff;
  margin-bottom: 120px;
}

.find-mainBtn {
    cursor: pointer;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 10px;
    background: #000;
    font-size: 24px;
    color: #fff;
    margin-bottom: 120px;
    display: inline-block;
}

/* 라디오 탭 */
.hide {
  display: none;
}
.show {
  display: block;
}

/* 미디어 쿼리 */
@media (max-width: 960px) {
  .login__container {
    padding: 0 20px;
    width: 80%;
    font-size: 16px;
    /* transition: all 0.2s ease-in-out; */
  }
  .info__inner {
    width: 90%;
  }
  .info__inner input {
    width: 50%;
  }

  .find__ID ul li {
    padding: 20px;
  }

  .find__tabContent {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .find__tebMenu label {
    margin: 10px 0;
  }
  .find__contents .find-ID {
    margin-bottom: 30px;
  }
}
