/* cardType */
.cardType {
    background-color: #f5f5f5f7;
    margin-bottom: 90px;
}
.cardType.mobile{
    display: none;
}
.card__container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.card {
    margin: 40px 0;
    width: 32%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    font-family: "scoredream";
    overflow: hidden;
}

/* .card:hover {
    border: 5px solid #000;
} */

.card .cardImgBox {
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.card .cardImgBox img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.3s ease-in-out;
    transform: scale(1)
}

.card .cardImgBox img:hover {
    transform: scale(1.1);
}

.card::before {
    content: "BEST1";
    text-align: center;
    line-height: 37px;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    top: 20px;
    color: #000;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 90px;
    height: 36px;
    z-index: 2;
}

.card:nth-child(2)::before {
    content: "BEST2";
}

.card:nth-child(3)::before {
    content: "BEST3";
}

.card__desc {
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
}

.card__desc h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.card__desc .icon {
    display: flex;
    justify-content: space-between;
}

.card__desc .icon p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-weight: 400;
    font-size: 14px;
    -webkit-box-orient: vertical;
    color: #888888;
}

.card__desc .icon .views {
    display: flex;
}

.card__desc .icon .views span:nth-child(2) {
    margin-left: 10px;
    color: #888888;
    font-size: 13px;
    font-weight: 300;
}

/* card 반응형 */
@media(max-width: 1200px){
    .card__container {
        justify-content: space-evenly;
    }
    .card {
        width: 30%;
    }
}

@media(max-width: 840px){
    .card::before {
        line-height: 27px;
        font-size: 14px;
        top: 15px;
        left: 15px;
        width: 75px;
        height: 27px;
    }
    .card__desc {
        padding: 20px 15px 10px 15px;
    }
    
    .card__desc h3 {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 14px;
        color: #000;
    }
    .card__desc p {
        font-size: 12px;
        margin-bottom: 10px;
        color: #000;
    }
    .card__desc .icon {
        display: flex;
        justify-content: space-between;
    }
    .card__desc .icon p {
        font-size: 14px;
    }
    .card__desc .icon .views svg {
        width: 16px;
    }
    .card__desc .icon .views span:nth-child(2) {
        color: #888888;
        font-size: 12px;
        font-weight: 300;
    }
}

@media(max-width: 600px){
    .card {
        width: 100%;
    }
    .card__desc {
        box-sizing: border-box;
        padding: 30px 20px 20px 20px;
    }
    
    .card__desc h3 {
        margin-bottom: 40px;
        font-size: 18px;
    }
    .card__desc p {
        font-size: 16px;
    }
    .card__desc .icon {
        display: flex;
        justify-content: space-between;
    }
    .card__desc .icon .views span:nth-child(2) {
        color: #888888;
        font-size: 14px;
        font-weight: 300;
    }
    .cardType {
        display: none;
    }
    .cardType.mobile {
        display: block;
    }
    .main__header h2:nth-child(2) {
        margin-bottom: 80px;
    }
}


/* review search */
.review__search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
} 
.review__search .reviewSearchBox {
    position: relative;
    margin-right: 20px;
}
.review__search .reviewSearchBox #searchOption {
    width: 100px;
    height: 45px;
    padding-left: 10px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    background: #f5f5f5;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.86816L8 9.21497L15 1.86816' stroke='%23888888' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: 75px center;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
}
.review__search .reviewSearchBox #searchOption option {
    font-size: 16px;
    font-weight: 400;
}
.review__search .reviewSearchBox #searchOption:focus{
    outline: none;
}
.review__search .reviewSearchBox .reviewInput {
    width: 200px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #b0b0b0;
    font-size: 16px;
    font-weight: 400;
    padding-left: 5px;
    background: none;
}
.reviewInput::-webkit-search-decoration,
.reviewInput::-webkit-search-cancel-button,
.reviewInput::-webkit-search-results-button,
.reviewInput::-webkit-search-results-decoration{
    display:none;
}
.review__search .reviewSearchBox .reviewInput:focus {
    outline: none;
}
.review__search .reviewSearchBox .reviewInput::placeholder {
    font-weight: 300;
    font-size: 16px;
    background-color: none;
}

.review__search .reviewSearchBox .searchBtn {
    background: transparent;
    margin-left: 10px;
    cursor:pointer;
    position: absolute;
    right: 5px;
    bottom: 13px;
}


/* review board */
.review {
    margin-bottom: 30px;
}
.review__table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    font-weight: 400;
    font-style: normal;
    table-layout: fixed;
}

.review__board .review__table thead tr {
    background-color: #000;
    color: #f5f5f5;
}
.review__board .review__table thead tr th {
    font-weight: 400;
    height: 54px;
    font-size: 18px;
}
.review__board .review__table tbody tr:hover {
    background-color: #f5f5f5;
}

.review__board .review__table tbody tr td:nth-child(2) {
    text-align: left;
    padding-left: 60px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.review__board .review__table tbody tr td {
    text-align: center;
    height: 80px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
    color: #000;
}
.review__board .review__table tbody tr td a {
    color: #000;
}


/* review btn */
.review .review__btn {
    margin-top: 30px;
    text-align: right;
}
.review .review__btn a {
    width: 107px;
    height: 50px;
    color: white;
    background-color: #000;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-weight: 200;
    font-size: 16px;
}

/* review 반응형 */
@media (max-width: 820px) {
    .review__board .review__table tbody tr td:nth-child(2){
        padding-left: 20px;
    }
}
@media (max-width: 600px) {
    .review__board .review__table tbody tr td:nth-child(2){
        padding-left: 0px;
    }
    .main__header .menu li:nth-child(1) a {
        max-width: 160px;
    }

}

@media (max-width: 480px) {
    .main__header .menu li:nth-child(1) a {
        max-width: 120px;
    }
    .review__board .review__table .mobile__table{
        display: none;
    }
    .review__search {
        margin-bottom: 50px;
        justify-content: center;
    }
    .review__search .reviewSearchBox {
        margin-right: 0px;
    }
    .review__search .reviewSearchBox #searchOption {
        margin-right: 5px;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}