/* talk__write */
.talk__write fieldset textarea {
  resize: none;
  font-family: "scoredream";
  font-size: 16px;
  color: #666666;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #efefef;
  padding: 20px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}
.talk__write fieldset .btn {
  width: 107px;
  height: 50px;
  color: white;
  background-color: #000;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  float: right;
  font-weight: 300;
  font-family: "scoredream";
  font-size: 16px;
  margin-bottom: 60px;
  cursor: pointer;
}

/* board */
.talk__table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  font-family: "scoredream";
  font-weight: 400;
  font-style: normal;
  margin-bottom: 80px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.comment {
  /* border-bottom: 1px dashed #D0D0D0; */
  box-sizing: border-box;
  padding: 45px 30px;
}
.comment .profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px;
  float: left;
}
.comment .contents {
  float: left;
  width: 90%;
}
.comment .contents .contents__top {
  display: flex;
  margin: 5px 0;
}
.comment .contents .contents__top .name {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
.comment .contents .contents__top .date {
  font-weight: 300;
  font-size: 16px;
  color: #b0b0b0;
  padding: 0 5px;
}
.comment .contents .contents__top .Talkmodify {
  font-weight: 300;
  font-size: 16px;
  color: #b0b0b0;
  padding: 0 5px 0 0;
}
.comment .contents .contents__top .Talkdelete {
  font-weight: 300;
  font-size: 16px;
  color: #b0b0b0;
}
.comment .contents .contents__bottom {
  font-weight: 300;
  font-size: 16px;
  color: #000;
}
.comment .contents .contents__topBox {
  display: flex;
}
.comment_1 .profile {
  background-image: url(https://github.com/mj0614k/Coding/blob/main/assets/img/tistory.jpg?raw=true);
}
.comment_2 .profile {
  background-image: url(https://github.com/mj0614k/Coding/blob/main/assets/img/tistory.jpg?raw=true);
}
.comment_3 .profile {
  background-image: url(https://github.com/mj0614k/Coding/blob/main/assets/img/tistory.jpg?raw=true);
}
.comment_4 .profile {
  background-image: url(https://github.com/mj0614k/Coding/blob/main/assets/img/tistory.jpg?raw=true);
}
.comment_5 .profile {
  background-image: url(https://github.com/mj0614k/Coding/blob/main/assets/img/tistory.jpg?raw=true);
}
.comment_6 .profile {
  background-image: url(https://github.com/mj0614k/Coding/blob/main/assets/img/tistory.jpg?raw=true);
}
.comment_7 .profile {
  background-image: url(https://github.com/mj0614k/Coding/blob/main/assets/img/tistory.jpg?raw=true);
}
.comment_8 .profile {
  background-image: url(https://github.com/mj0614k/Coding/blob/main/assets/img/tistory.jpg?raw=true);
}
.comment_9 .profile {
  background-image: url(https://github.com/mj0614k/Coding/blob/main/assets/img/tistory.jpg?raw=true);
}
.comment_10 .profile {
  background-image: url(https://github.com/mj0614k/Coding/blob/main/assets/img/tistory.jpg?raw=true);
}
.comment .heart {
  float: right;
}
.comment .heart p {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}
.talk__board .talk__table tbody tr {
  transition: all 0.3s ease-in-out;
}
.talk__board .talk__table tbody tr:hover {
  background-color: #f5f5f5;
}
.talk__board .talk__table tbody tr td:nth-child(2) {
  text-align: left;
}
.talk__board .talk__table tbody tr td {
  border-bottom: 1px dashed #e6e6e6;
  font-size: 16px;
  color: #000;
}
.talk__board .talk__table tbody tr td a {
  color: #000;
}

/* Talk Modify & Delete */
.talk__modify__modal {
  width: 60%;
  max-width: 600px;
  height: 400px;
  background-color: #fff;
  border: 2px solid #323232;
  border-radius: 20px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.talk__modify__modal label {
  display: none;
}
.talk__modify__modal h2 {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 20px;
}
.talk__modify__modal input {
  width: 60%;
  height: 70px;
  font-weight: 400;
  border-radius: 10px;
  line-height: 1;
  padding-left: 30px;
  color: #323232;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "SCoreDream";
}
.TalkModifyBtn {
  display: flex;
  justify-content: center;
  width: 60%;
}
.talk__modify__modal button {
  width: 120px;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  background-color: black;
  border-radius: 10px;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
}
.talk__modify__modal button:nth-child(1) {
  margin-right: 20px;
}

.talk__delete__modal {
  width: 60%;
  max-width: 600px;
  height: 400px;
  position: fixed;
  transform: translate(-50%, 0);
  background-color: #fff;
  border: 2px solid #323232;
  border-radius: 20px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.talk__delete__modal label {
  display: none;
}
.talk__delete__modal h2 {
  margin-top: 90px;
  text-align: center;
  margin-bottom: 20px;
}
.talk__delete__modal input {
  width: 60%;
  height: 70px;
  font-weight: 400;
  border-radius: 10px;
  line-height: 1;
  padding-left: 30px;
  color: #323232;
  border: 1px solid #b0b0b0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "SCoreDream";
}
.TalkDeleteBtn {
  display: flex;
  justify-content: center;
  width: 60%;
}
.talk__delete__modal button {
  width: 120px;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  background-color: black;
  border-radius: 10px;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-weight: 300;
  cursor: pointer;
}
.talk__delete__modal button:nth-child(1) {
  margin-right: 20px;
}

.board__pages ul {
  display: flex;
  justify-content: center;
}
.board__pages ul li a {
  display: flex;
  justify-content: center;
  color: #888888;
  font-size: 16px;
  padding: 10px;
  font-weight: 400;
}
.board__pages ul li a.active {
  color: #323232;
  font-weight: 600;
}

/* blind */
fieldset #talkContents:focus {
  outline: none;
}
/* 미디어쿼리 */
@media (max-width: 960px) {
  .main__header h2:nth-child(2) {
    margin-bottom: 80px;
  }

  .main__header .home {
    display: none;
  }

  .comment .profile {
    margin-bottom: 10px;
  }
  .comment .contents .contents__top {
    margin-bottom: 10px;
  }
}

/* blind */
fieldset #talkContents:focus {
  outline: none;
}

/* 미디어쿼리 */
@media (max-width: 800px) {
  .main__header h2:nth-child(2) {
    margin-bottom: 80px;
  }

  .main__header .home {
    display: none;
  }

  .comment .profile {
    margin-bottom: 10px;
  }
  .comment .contents .contents__top {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .main__header .menu li:nth-child(1) a {
    max-width: 120px;
  }
}
